<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN""http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<!--这个节点是必须的，key为assets，用于存储下载地址-->
				<array>
					<dict>
						<!--这个节点是必须的，用于存储下载地址，自己进行修改-->
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://10.18.15.132/TheLastDay.ipa</string>
					</dict>
					<dict>
						<!--这个节点不是必须的，可以不加，也可以自己进行修改-->
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://10.18.15.132/Icon-114.png</string>
					</dict>
					<dict>
						<!--这个节点不是必须的，可以不加，也可以自己进行修改-->
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://10.18.15.132/Icon-57.png</string>
					</dict>
				</array>
				<key>metadata</key>
				<!--这个节点是必须的，key为metadata，用于存储下载信息:identifier,version,title等等,自行修改-->
				<dict>
					<key>bundle-identifier</key>
					<string>com.baitian.thelastday</string>
					<key>bundle-version</key>
					<string>1.0</string>
					<key>kind</key>
					<string>software</string>
					<key>subtitle</key>
					<string>TheLastDay</string>
					<key>title</key>
					<string>末日校园</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>